{% extends 'admin_paneli.html' %}

{% block title  %}
Slayt Listesi
{% endblock %}

{% block sayfaicerigi %}
    <br><br>
    <div style="margin-left: 1140px">
      <a href="{{ url_for("slayts.ekleslayt")}}" class="btn btn-success">Yeni Haber Ekle</a></div>

     <div align="center" style="margin-top: 20px"><table class="table table-hover" style="width: 1200px;  border: 1px solid lightgray; border-collapse: collapse;">
    <thead>
      <tr>
        <th>Slayt Idsi</th>
        <th>Slayt Başlığı</th>
        <th>Slayt İçeriği</th>
        <th>Slayt Linki</th>
           <th>Slayt Resmi</th>
        <th colspan="2">İşlemler</th>
      </tr>
    </thead>

    {% for slayt in veri %}

    <tbody>
      <tr>
          <td>{{ slayt.slaytId }}</td>
        <td>{{ slayt.slaytbas }}</td>
        <td>{{ slayt.slaytinici }}</td>
        <td>{{ slayt.slaytlinki }}</td>
          <td>{{ slayt.slaytfotosu }}</td>

        <td>
          <a href=" {{url_for('slayts.slaytDuzenle',id=slayt.slaytno)}}" class="btn btn-primary">Düzenle</a></td>
          <td>

       <a href="#" class="btn btn-danger silme-butonu"
          data-slaytbaslik="{{ slayt.slaytbas }}"
          data-slaytno="{{ slayt.slaytno }}">Sil</a></td>

      </tr>
    {% endfor %}
</tbody>
  </table>
       </div>
    <br>
    <div  style="margin-left: 470px">
     <ul class="pagination">
  <li class="page-item"><a class="page-link" href="{{ilkSayfa['link1']}}">İlk Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{oncekihaber['link1']}}">Önceki Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{sonrahaber['link1']}}">Sonraki Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{sonhaber['link1']}}">Son Sayfa</a></li>

</ul>
</div>
    <!-- Modal -->
<div class="modal fade" id="silmeOnayi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Slayt Silme Onayı</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="silmeMesaj">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-danger" id="btn-sil">Sil</button>
      </div>
    </div>
  </div>
</div>
    <br>
    <br><br><br><br>

{% endblock %}
{% block bodysonu %}
    <script language="JavaScript">
    $(document).ready(function () {


        $("a.silme-butonu").click(function () {
            var tiklananButon=$(this);
            var slaytbas=tiklananButon.data("slaytbaslik");
            var slaytNo=tiklananButon.data("slaytno");


            $("#silmeMesaj").html(slaytbas + " İsimli  slaytı silmek istediğinizden emin misiniz?");
            $("#btn-sil").off("click");
            $("#btn-sil").on("click",function () {

               $("#silmeOnayi").modal('hide');
               $.post("{{ url_for('slayts.slaytsil') }}",
                   {
                       slaytno:slaytNo,
                       csrf_token:'{{ csrf_token() }}'
                   },
                   function(sonuc,htmlkodu){

                   if (sonuc["sonuc"] === "TAMAM")
                   {
                       location.reload();
                   }
                   else
                   {
                       alert("Hata")
                   }


                 });
            });

            $("#silmeOnayi").modal();


        });
    });

    </script>



{% endblock %}