{% extends 'admin_paneli.html' %}

{% block title  %}
Haber Listesi
{% endblock %}
{% block sayfaicerigi %}
    <br><br>
    <div style="margin-left: 1140px">
      <a href="{{ url_for("haberlistesis.eklehaber")}}" class="btn btn-success">Yeni Haber Ekle</a></div>

     <div align="center" style="margin-top: 20px"><table class="table table-hover" style="width: 1200px;  border: 1px solid lightgray; border-collapse: collapse;">
    <thead>
      <tr>
        <th>Haber Kodu</th>
        <th>Haber Başlığı</th>
        <th>Haber İçeriği</th>
        <th>Haber Linki</th>
        <th colspan="2">İşlemler</th>
      </tr>
    </thead>

    {% for haberlistesi in veri %}

    <tbody>
      <tr>
          <td>{{ haberlistesi.haberId }}</td>
        <td>{{ haberlistesi.haberbas }}</td>
        <td>{{ haberlistesi.haberinici }}</td>
        <td>{{ haberlistesi.haberlinki }}</td>
        <td>
          <a href="{{ url_for('haberlistesis.haberDuzenle',id=haberlistesi.no)}}" class="btn btn-primary">Düzenle</a></td>
          <td>

       <a href="#" class="btn btn-danger silme-butonu"
          data-haberbaslik="{{ haberlistesi.haberbas }}"
          data-haberno="{{ haberlistesi.no }}">Sil</a></td>




      </tr>
    {% endfor %}
</tbody>
  </table>

        </div>
    <br>
    <div  style="margin-left: 470px">
     <ul class="pagination">
  <li class="page-item"><a class="page-link" href="{{ilkSayfa['link']}}">İlk Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{oncekihaber['link']}}">Önceki Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{sonrahaber['link']}}">Sonraki Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{sonhaber['link']}}">Son Sayfa</a></li>

</ul>
</div>
    <!-- Modal -->
<div class="modal fade" id="silmeOnayi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Haber Silme Onayı</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="silmeMesaj">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-danger" id="btn-sil">Sil</button>
      </div>
    </div>
  </div>
</div>
    <br>
    <br><br><br><br>

{% endblock %}
{% block bodysonu %}
    <script language="JavaScript">
    $(document).ready(function () {


        $("a.silme-butonu").click(function () {
            var tiklananButon=$(this);
            var haberbas=tiklananButon.data("haberbaslik");
            var haberNo=tiklananButon.data("haberno");


            $("#silmeMesaj").html(haberbas + " İsimli  haberi silmek istediğinizden emin misiniz?");
            $("#btn-sil").off("click");
            $("#btn-sil").on("click",function () {

               $("#silmeOnayi").modal('hide');
               $.post("{{ url_for('haberlistesis.habersil') }}",
                   {
                       no:haberNo,
                       csrf_token:'{{ csrf_token() }}'
                   },
                   function(sonuc,htmlkodu){

                   if (sonuc["sonuc"] === "TAMAM")
                   {
                       location.reload();
                   }
                   else
                   {
                       alert("Hata")
                   }


                 });
            });

            $("#silmeOnayi").modal();


        });
    });

    </script>
{% endblock %}