{% extends 'admin_paneli.html' %}
{% block title  %}
{{ sayfa_baslik }}
{% endblock %}
{% block sayfaicerigi %}
    <br>

    <div style="margin-left: 40px;width: 600px;">
    <h1 class="h3 mb-4 text-gray-800" style="font-weight: bold">{{sayfa_baslik}}</h1></div>
    <br>
   <div style="margin-left: 40px">
    <form method="post">
    {{ form.hidden_tag() }}
        <div class="form-group" style="width:600px">
      {{ form.sondakikaid.label }}
      {{ form.sondakikaid(class='form-control') }}
       </div>
       <div class="form-group" style="width:600px">
      {{ form.sondakikabaslik.label }}
      {{ form.sondakikabaslik(class='form-control') }}
       </div>
        <div class="form-group"  style="width:600px">
      {{ form.sondakikaicerik.label }}
      {{ form.sondakikaicerik(class='form-control') }}
       </div>
           <div class="form-group"  style="width:600px">
      {{ form.sondakikalinki.label }}
      {{ form.sondakikalinki(class='form-control') }}
       </div>
           <div class="form-group"  style="width:600px">
      {{ form.sondakikaresmi.label }}
      {{ form.sondakikaresmi(class='form-control') }}
       </div>
     {{ form.ekle(class='btn btn-success')}}

</form>

</div>
     <br>
<!--  <div style="position: relative;
  left: 750px;
  bottom: 420px;width: 200px" >
    <img src="../static/img/logo.png" width="500px" height="400px">
    </div>-->

{% endblock %}


