.nav-item{
    padding-left:10px;
    padding-right:10px;
}

 div.card{
     align-content: center;
     float: left;
 margin-right: 20px;
 margin-top: 10px;


}

div.container{

margin-left:auto;
margin-right:auto;

width:100%;
padding-left: 118px;
padding-right: 50px;

}
article{
   align-items: center;


}

li:hover{

}

#demo{
    padding-top: 20px;
    position: relative;
    margin: auto;
   margin-left: 187px;
   margin-right: 150px;
}
body {

    background-repeat:repeat-y;
    background-repeat:repeat-x;

    background-attachment: fixed;

  }
  .video{
   margin: auto;
  }
  .ikincislayt{
      margin-top: 1650px;
    padding-left: 250px;
  }
  .carousel slide{
      margin:auto;
  }



  /*Haber kartları yana doğru*/
.full h-card{

    margin:auto;
    }
    .sola-kaydir{
    float:left;
    padding:0 10px 10px 0;
    }
.card bg-warning{
background-color:yellow;}
.kart{
   padding-left: 30px;
   padding-right: 20px;
}.nae-opacity{
    opacity: 0.7;
}
