{% extends 'teknonet_temel_dosya.html' %}

{% block title %}
    Hakkımızda
{% endblock %}

{% block body %}

 <div class="container">
                    <div align="center">
                   <br><br> <img src="static/img/hakkımızda.png" alt="hak" align="center"height="75px"width="75px"><h2>Hakkımızda</h2><br></div>
                    <p>2019 yılında kurulan TeknoNet sitemiz, Dünya ve Türkiye gündeminde yer alan güncel teknoloji haberlerini , oyun haberleri ve teknoloji ile alakalı güncel,faydalı ve yenilikçi makaleleri ile hemen hemen her konuda bilgi sahibi olabileceğiniz bir haber portalıdır. </p>
                    <p>TeknoNet ekibi ile iletişime geçmek ve sosyal medya hesaplarını incelemek için <a href="{{ url_for('iletisim') }}">İletişim Sayfası</a>'na göz atabilirsiniz.Esen Kalın. </p>
                   <br>



                  <div class="card-group">
                    <div class="card bg-primary;"border="2">
                      <div class="card-body text-center;"style="background-color:palegoldenrod" >
                       <div align="center"> <img src="static/img/avatar2.png" alt="avayar" height="150px; " width="200px"></div>
                        <p class="card-text"><h5>Aleyna YILMAZ</h5></p>
                        <p class="card-text">Karadeniz Teknik Üniversitesi</p>
                        <p class="card-text">İstatistik ve Bilgisayar Bilimleri</p>
                        <p class="card-text"> <a href=”tel:05055555555″>0505 555 55 55</a></p>
                        <p class="card-text"><a href="mailto:aleynaa441@gmail.com">aleynaa441@gmail.com</a></p>
                      </div>
                    </div>



                    <div class="card bg-primary;"border="2">
                      <div class="card-body text-center;"style="background-color:palegoldenrod" >
                        <div align="center"> <img src="static/img/avatar1.png" alt="avayar" height="150px; " width="200px"></div>
                        <p class="card-text"><h5>Ertan  ERYILMAZ</h5></p>
                        <p class="card-text">Karadeniz Teknik Üniversitesi</p>
                        <p class="card-text">İstatistik ve Bilgisayar Bilimleri</p>
                       <p class="card-text"> <a href=”tel:05055555555″>0505 555 55 55</a></p>
                        <p class="card-text" ><a href="mailto:brownx432@gmail.com">brownx432@gmail.com</a></p>
                      </div>
                    </div>


                      <div class="card bg-primary;"border="2">
                        <div class="card-body text-center;"style="background-color:palegoldenrod">
                          <div align="center"> <img src="static/img/avatar2.png" alt="avayar" height="150px; " width="200px"></div>
                          <p class="card-text"><h5>Nur Betül ÇELİK</h5></p>
                          <p class="card-text">Karadeniz Teknik Üniversitesi</p>
                          <p class="card-text">İstatistik ve Bilgisayar Bilimleri</p>
                          <p class="card-text" > <a href=”tel:05055555555″>0505 555 55 55</a></p>
                          <p class="card-text"><a href="mailto:betullclik@gmail.com">betullclik@gmail.com</a></p>
                        </div>
                    </div>
                  </div>
                </div>

    <br>
    <br>
{% endblock %}