

<head>
    <title>İletişime Geç</title>
    <link rel="stylesheet" href="static/style/form.css">
    <link rel="shortcut icon" type="image/png" href="../../../static/img/logo1.png">
</head>


{% block body %}
 <div class="container">
        <form id="contact" action="https://formspree.io/ertaneryilmaz03@gmail.com" method="POST">
            <h2>İletişim Sayfası</h2>
            <div class="form-control">
                <input placeholder="Adınız Soyadınız" type="text" required autofocus>
            </div>
            <div class="form-control">
                <input placeholder="E-Posta Adresiniz" type="email" required>
            </div>
            <div class="form-control">
                <input placeholder="Konu" type="text" required>
            </div>
            <div class="form-control">
                <textarea placeholder="Lütfen Mesajınızı Buraya Yazın.." required></textarea>
            </div>
            <div class="form-control">
                <button name="submit" type="submit" id="submit">GÖNDER</button>
            </div>
        </form>
    </div>





{% endblock %}