{% extends 'teknonet_temel_dosya.html' %}
{% block title %}
    İletişim
{% endblock %}


{% block body %}
    <body style="height: 1000px">
<div style="background-color:gainsboro;padding-left: 20px">
                  <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">İletişim Bilgilerimiz</h2>
                  <p>Bilgi almak için telefon, e-posta ile  bize ulaşabilirsiniz.</p>
                </div>
                <div style="padding-left: 20px">
                <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Adres Bilgilerimiz</h2>
              </div>
                  <div align="center"  style="padding-left: 20px" style="padding-top: 17px;">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.307520204045!2d39.77002501496402!3d40.996641879302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40643b8113fa1b8b%3A0x1095c3a93f2c0c7b!2sKaradeniz%20Teknik%20%C3%9Cniversitesi%20Fen%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1570574968008!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
                  <div style="padding-left:410px">
                   <div style="padding-top: 20px">
                  <div class="container" style="float:right">
                    <button type="button" class="btn btn-primary active" style="height: 40px;"><a href="{{ url_for('iletisimegec') }}"><p style="color: white"> Bizimle İletişime Geçmek İçin Tıklayınız..</p></a> </button>
                  </div>
                  </div>
                </div>

             <div align="center">
                  <div style="     position: absolute;   left: 20px;   bottom: -300px;">
                    <div style="float: left; margin-left: 30px;margin-right: 150px;" ><img src="static/img/logo.png" alt="logo"></div>
                    <div style="float: left;margin-right: 170px; "align="center">
                      <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">HAKKIMIZDA
                        <br>
                        Telefon: 0505 505 50 05
                        <br>
                        Bizimle iletişime geç: teknonet@gmail.com</p>
                    </div>
                    <div style="float: left;" align="center">
                    <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">BİZİ TAKİP EDİN</p>
                    <a href="https://www.facebook.com/TeknoNet-113757823368822/?modal=admin_todo_tour"> <img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"></a>
                    <a href="https://twitter.com/home"> <img src="https://img.icons8.com/doodle/48/000000/twitter--v3.png"></a>
                      <a href="https://www.instagram.com/?hl=tr"> <img src="https://img.icons8.com/doodle/48/000000/instagram-new.png"></a>
                        <a href="https://www.youtube.com/"> <img src="https://img.icons8.com/cotton/64/000000/youtube.png"></div></a>
                </div>
              </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</body>
{% endblock %}