{% extends 'teknonet_temel_dosya.html' %}

{% block title %}
    Köşe Yazıları
{% endblock %}

{% block body %}


      <div style="padding-left: 223px">
        {% for koseyazilari in veri %}
            <div class="card" style="width:300px;height: 450px;background-color: palegoldenrod;margin-bottom: 15px;">
                <img class="card-img-top" src="{{ koseyazilari.yaziresmi }}" alt="Card image"
                     style="width:100%;height: 150px;">
                <div class="card-body">
                    <h4 class="card-title">{{ koseyazilari.yazibas }}</h4>
                    <p class="card-text">{{ koseyazilari.yaziic }}</p><br>
                    <a href="{{ koseyazilari.yazilink }}" class="btn btn-primary stretched-link">Yazının Devamı için
                        Tıklayınız..</a>
                </div>

            </div>
        {% endfor %}
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br>

    <div  style="margin-top: 1000px;margin-left: 470px">
         <ul class="pagination">
  <li class="page-item"><a class="page-link" href="{{ilkYazi['link1']}}">İlk Sayfa </a></li>

  <li class="page-item"><a class="page-link" href="{{oncekiyazi['link1']}}">Önceki Sayfa </a></li>
  <li class="page-item"><a class="page-link" href="{{sonrayazi['link1']}}">Sonraki Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{sonyazi['link1']}}">Son Sayfa</a></li>

</ul>
    </div>
<br>


{% endblock %}