<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Yönetici Girişi</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="../../static/style/girisstyle.css">
    <link rel="shortcut icon" type="image/png" href="../../../static/img/logo1.png">

</head>
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold;font-family: 'Times New Roman'">
                            Hoş Geldiniz</h5>
                        {% if hata!="" %}
                        <div class="text-center bg-danger">
                            <h3 class="h6 text-white">{{ hata }}</h3>

                        </div>
                        {% endif %}
                        <img src="../../static/img/logo.png">
                        <form class="user" method="post">
                            <div class="form-group">
                                {{ form.hidden_tag() }}

                                {{ form.uyeNo.label }}
                                {{ form.uyeNo(class="form-control form-control-user") }}
                            </div>
                            <div class="form-group">

                                {{ form.sifre.label }}
                                {{ form.sifre(class="form-control form-control-user") }}
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    {{ form.beniHatirla(class="custom-control-input") }} {{ form.beniHatirla.label }}


                                </div>
                            </div>
                            {{ form.gonder(class="btn btn-primary btn-user  btn-block") }}
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="#">Şifremi Unuttum</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}