{% extends 'teknonet_temel_dosya.html' %}

{% block title %}
    Haberler
{% endblock %}
 <head>

 </head>
{% block body %}


    <div style="padding-top: 20px;" align="center">
  <div id="demo" class="carousel slide" align="center" data-ride="carousel"><!--SLAYT KISMI-->

             {% for slayt in veri %}
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="{{slayt.slaytno}}" class="{{ slayt.slayttipi }}"></li>

            </ul>
            {% endfor %}



                          <div class="carousel-inner">
                                {% for slayt in veri %}
                           <div class="carousel-item {{ slayt.slayttipi }}">
                <a href="{{ slayt.slaytlinki }}">
                    <img src="{{ slayt.slaytfotosu }}" class="nae-opacity nae-ımgWidth" alt="New York" width="938px"
                         height="400px"></a>
                <div class="carousel-caption d-none d-md-block" style="color:rgb(241, 237, 237);">
                    <h2><a href="{{ slayt.slaytlinki }}" style="color: rgb(247, 242, 242);">{{ slayt.slaytbas }}</a>
                    </h2>
                    <p>{{ slayt.slaytinici }}</p>
                </div>
            </div>

            {% endfor %}
  </div>
 <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

      </div>
    </div>





    <div style="padding-left: 223px">
        {% for haberlistesi in veri1 %}
            <div class="card" style="width:300px;height: 450px;background-color: palegoldenrod;margin-bottom: 15px;">
                <img class="card-img-top" src="{{ haberlistesi.haberresmi }}" alt="Card image"
                     style="width:100%;height: 150px;">
                <div class="card-body">
                    <h4 class="card-title">{{ haberlistesi.haberbas }}</h4>
                    <p class="card-text">{{ haberlistesi.haberinici }}</p><br>
                    <a href="{{ haberlistesi.haberlinki }}" class="btn btn-primary stretched-link">Haberin Devamı için
                        Tıklayınız..</a>
                </div>

            </div>
        {% endfor %}
    </div>
    <div  style="margin-top: 1000px;margin-left: 470px">
         <ul class="pagination">
  <li class="page-item"><a class="page-link" href="{{ilkSayfa['link1']}}">İlk Sayfa </a></li>
  <li class="page-item"><a class="page-link" href="{{oncekihaber['link1']}}">Önceki Sayfa </a></li>
  <li class="page-item"><a class="page-link" href="{{sonrahaber['link1']}}">Sonraki Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{sonhaber['link1']}}">Son Sayfa</a></li>

</ul>
    </div>

    <br>

{% endblock %}

