{% extends 'teknonet_temel_dosya.html' %}
{% block title %}
    Son Dakika Haberleri
{% endblock %}


{% block body %}

    <div style="padding-top: 20px; " align="center">
  <div id="demo" class="carousel slide" align="center" data-ride="carousel"><!--SLAYT KISMI-->

             {% for sondakikaslayt in veri1 %}
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="{{sondakikaslayt.slaytno}}" class="{{ sondakikaslayt.slayttipi }}"></li>

            </ul>
            {% endfor %}



                          <div class="carousel-inner">
                                {% for sondakikaslayt in veri1 %}
                           <div class="carousel-item {{ sondakikaslayt.slayttipi }}">
                <a href="{{ sondakikaslayt.slaytlink }}">
                    <img src="{{ sondakikaslayt.slaytresim }}" class="nae-opacity nae-ımgWidth" alt="New York" width="938px"
                         height="400px"></a>
                <div class="carousel-caption d-none d-md-block" style="color:rgb(241, 237, 237);">
                    <h2><a href="{{ sondakikaslayt.slaytlink }}" style="color: rgb(247, 242, 242);">{{ sondakikaslayt.slaytbas }}</a>
                    </h2>
                    <p>{{ sondakikaslayt.slaytic }}</p>
                </div>
            </div>

            {% endfor %}
  </div>
 <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

      </div>
    </div>



<div >


        {% for sondakika in veri %}
            <div style="padding-left: 223px">
            <div class="card" style="width:300px;height: 450px;background-color: palegoldenrod;margin-bottom: 5px;">
                <img class="card-img-top" src="{{ sondakika.sonresim }}" alt="Card image"
                     style="width:100%;height: 150px;">
                <div class="card-body">
                    <h4 class="card-title">{{ sondakika.sonbas }}</h4>
                    <p class="card-text">{{ sondakika.sonic }}</p><br>
                    <a href="{{ sondakika.sonlink }}" class="btn btn-primary stretched-link">Haberin Devamı için
                        Tıklayınız..</a>
                </div>
</div>
            </div>
        {% endfor %}
    </div>

  <div  style="margin-top: 1000px;margin-left: 470px">
         <ul class="pagination">
  <li class="page-item"><a class="page-link" href="{{ilkSayfa['link1']}}">İlk Sayfa </a></li>
  <li class="page-item"><a class="page-link" href="{{oncekihaber['link1']}}">Önceki Sayfa </a></li>
  <li class="page-item"><a class="page-link" href="{{sonrahaber['link1']}}">Sonraki Sayfa</a></li>
  <li class="page-item"><a class="page-link" href="{{sonhaber['link1']}}">Son Sayfa</a></li>

</ul>
    </div>
    <br>



{% endblock %}