<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../../static/style/style.css">
    <link rel="shortcut icon" type="image/png" href="../../../static/img/logo1.png">


<style>
footer {

   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
</style>

</head>

<body {% block bodyozellik %}{% endblock %} style="background-color: LightGray;height: auto" >

        <div class="jumbotron text-center" style="margin-bottom:0 ;height: 60px;padding-top:10px;background-color:lightgray"><!--jumbotron-->
          <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif" >Teknoloji Haberlerine Hoşgeldiniz...</h1>
              </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="../../../static/img/logo.png" alt="Teknonet" height="60px" >
  </a>

  <!-- Links -->
  <ul class="navbar-nav" >

      <li class="nav-item" style="margin-left: 70px" >
               <a class="nav-link" href="{{ url_for('haberlistesis.anasayfa') }}" style="font-weight:bold;color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Anasayfa</a>
    </li>

    <li class="nav-item" style="margin-left: 70px" >
      <a class="nav-link" href="{{ url_for('sondakikahaber.sondakikalar') }}" style="font-weight:bold;color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Son Dakika</a>
    </li>

    <li class="nav-item" style="margin-left: 70px">
       <a class="nav-link" href="{{ url_for('koseyazilarim.koseyazilar') }}" style="font-weight:bold;color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Köşe Yazıları</a>
    </li>
 <li class="nav-item"  style="margin-left: 70px">
        <a class="nav-link" href="{{ url_for('hakkimizda') }}" style="font-weight:bold;color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Hakkımızda</a>
    </li>

 <li class="nav-item" style="margin-left: 70px" >
        <a class="nav-link" href="{{ url_for('iletisim') }}" style="font-weight:bold;color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">İletişim</a>
    </li>
  </ul>
</nav>
        {% block body %}

            {% block sayfaicerigi %}
            {% endblock %}

    {% endblock %}

<footer class="bg-dark py-5" >
    <div class="container text-white">
	<div class="row"style="height: 100px">
	<div class="col-md-2">
	<img src="../../../static/img/logo1.png" style="height: 80px"><h3><b>TEKNONET </b></h3>
	</div>
	<div class="col-md-2">
	<ul class="list-unstyled">
	<li class="text-muted mb-3">TEKNONET</li>
	</li>
	<li>
	<a href="{{ url_for('hakkimizda') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Hakkımızda</a>
	</li>
	<li>
	<a href="{{ url_for('iletisim') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">İletişim</a>
	</li>
	<li>
	<a  href="{{ url_for('sondakikahaber.sondakikalar') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Son Dakika</a>
	</li>
	</div>
	<div class="col-md-2">
	<ul class="list-unstyled">
	<li class="text-muted mb-3">Popüler Sayfalar</li>
	</li>
	<li>
	<a  href="{{ url_for('sondakikahaber.sondakikalar') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Son Dakika</a>
	</li>
	<li>
	<a href="{{ url_for('koseyazilarim.koseyazilar') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Köşe Yazıları</a>
	</li>
	<li>
	<a href="{{ url_for('haberlistesis.anasayfa') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Anasayfa</a>
	</li>
	</div>
	<div class="col-md-2">
	<ul class="list-unstyled">
	<li class="text-muted mb-3">Öne Çıkan Sayfalar</li>
	</li>
	<li>
    <a href="{{ url_for('haberlistesis.anasayfa') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Anasayfa</a>
	</li>
	<li>
	<a  href="{{ url_for('sondakikahaber.sondakikalar') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Son Dakika</a>
	</li>
	<li>
	<a href="{{ url_for('koseyazilarim.koseyazilar') }}" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Köşe Yazıları</a>
	</li>
	</div>
        <div class="col-md-2">
	<ul class="list-unstyled">
	<li class="text-muted mb-3">Bizi Takip Edin</li>
	</li>
	<li>
	<a href="https://www.facebook.com/TeknoNet-113757823368822/?modal=admin_todo_tour" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Facebook</a>
	</li>
	<li>
	<a href="https://www.instagram.com" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">İnstagram</a>
	</li>
	<li>
	<a href="https://twitter.com" style="color: white;font-family: 'Times New Roman', Times, serif;font-size: 17px">Twitter</a>
	</li>

	</div>
        <div class="col-md-2">
	<ul class="list-unstyled">


	<li class="text-muted mb-3">İşlemler</li>
	</li>
	<li>
	<a href="{{ url_for('kullanici.kullaniciLogin')}}" class="btn btn-secondary">Giriş Yap</a>
	</li>


	</div>

  </div>
</div>
<!--<div >
   <p style="font-family: 'Times New Roman', Times, serif;color:white;font-size: 15px"><b>©TEKNONET TÜM HAKLARI SAKLIDIR</b></p>
</div>-->
    </footer>



<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/boostrap/js/boostrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>


{% block bodysonu %}
{% endblock %}
</body>
</html>